{% extends 'display/base.html' %}
{% load static %}


{% block content %}
    {% csrf_token %}

    {% for x in object_list %}
    {% if x.owner == request.user %}
    <div class="middle-class">
    <div class="center_text box box-sizing-small margin-bottom boxbg ">
            <div class="">
            Ticket ID: {{ x.id }}<br/>
            Title:  {{ x.event }}<br/>
            Ticket cost: {{ x.cost }}<br/>
                    for {{ x.owner }}
            <form action="{% url 'detail' x.event_id %}"><button type="submit" class="button">Details </button></form>
            </div>
    </div></div>



    {% endif %}
    {% endfor %}

<div class="pagination middle-class">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}